body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
a.abtn{border: 1px solid #ccc; border-radius: 3px;line-height:20px;padding:5px 8px;background:#efefef;color:#000;text-decoration:none;}
a.abtn:hover{background:#fff;}

.login{border-left:solid 5px #00B7FF;padding:5px 0 5px 20px;}
.login input{border: 1px solid #ccc; border-radius: 3px;line-height:20px;padding:3px;}
.login .btn input{padding:3px 8px;}

.list div.item{border-left:solid 5px #00B7FF;padding:5px 0 5px 20px;margin:20px 0 0;zoom:1;
  overflow: hidden;background:#f7f7f7;}
.list div.item em{color:#03d;}
.list div.item img{width:150px;}

.opter{margin:20px;border:solid 2px #ddd;padding:10px;}
.opter div{margin:8px 0;}